Repository phntmxyz/sidekick, pull requests merged in 2022-10, with the labels that each got.

#85 Move Deps command to sidekick_core and CleanCommand to template
  sidekick/cli_template/bricks/package/__brick__/lib/src/commands/clean_command.dart
  sidekick/cli_template/bricks/package/__brick__/lib/src/commands/deps_command.dart
  sidekick/cli_template/bricks/package/__brick__/lib/{{#lowerCase}}{{name}}{{/lowerCase}}_sidekick.dart
  sidekick/lib/src/templates/package_bundle.g.dart
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/commands/deps_command.dart
  sidekick_core/lib/src/repository.dart
Labels: sidekick_core

#91 Make global `sidekick plugins create` work
  .github/workflows/integration.yaml
  sidekick/pubspec.yaml
  sidekick/test/plugins_test.dart
  sidekick/test/util/local_testing.dart
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/commands/plugins/create_plugin_command.dart
  sidekick_core/lib/src/commands/plugins/create_templates/install_only.dart
  sidekick_core/lib/src/commands/plugins/create_templates/shared_code.dart
  sidekick_core/lib/src/commands/plugins/create_templates/shared_command.dart
  sidekick_core/lib/src/commands/plugins/create_templates/template_generator.dart
  sidekick_core/lib/src/dart.dart
Labels: sidekick

#89 Create a sidekick command that bundles plugins, recompile and install-global
  sidekick/cli_template/bricks/package/__brick__/lib/{{#lowerCase}}{{name}}{{/lowerCase}}_sidekick.dart
  sidekick/lib/src/templates/package_bundle.g.dart
  sidekick/test/plugins_test.dart
  sidekick/test/recompile_test.dart
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/commands/plugins/create_templates/template_generator.dart
  sidekick_core/lib/src/commands/sidekick_command.dart
Labels: sidekick, sidekick_core

#92 Throw OutOfCommandRunnerScopeException instead of existing the process with error()
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/test/init_test.dart
Labels: sidekick_core

#84 Make DartCommand and FlutterCommand always work by using SDKs installed on system
  sidekick/cli_template/bricks/package/__brick__/lib/{{#lowerCase}}{{name}}{{/lowerCase}}_sidekick.dart
  sidekick/cli_template/bricks/package/__brick__/pubspec.yaml
  sidekick/cli_template/bricks/package/brick.yaml
  sidekick/lib/src/init/init_command.dart
  sidekick/lib/src/templates/package_bundle.g.dart
  sidekick/pubspec.lock
  sidekick/pubspec.yaml
  sidekick/test/init_test.dart
  sidekick/test/templates/minimal_flutter_package/README.md
  sidekick/test/templates/minimal_flutter_package/lib/minimal.dart
  sidekick/test/templates/minimal_flutter_package/pubspec.yaml
  sidekick/test/util/fake_sdk.dart
Labels: sidekick
