Repository phntmxyz/sidekick, pull requests merged in 2023-01, with the labels that each got.

#166 Run `pub upgrade` when compilation fails
  sidekick_core/lib/src/template/install.sh.template.dart
Labels: sidekick_core, standalone-scripts

#167 [Update] Migrate cli to the latest stable Dart SDK
  sidekick_core/lib/src/update/migration.dart
  sidekick_core/lib/src/update_sidekick_cli.dart
  sidekick_core/lib/src/version_checker.dart
  sidekick_core/pubspec.yaml
  sidekick_core/test/update/patches/157_fix_usage_message.patch_test.dart
  sidekick_core/test/update/update_dart_version_test.dart
Labels: sidekick_core, update

#168 Add BashCommand
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/cli_util.dart
  sidekick_core/lib/src/commands/bash_command.dart
  sidekick_core/lib/src/forward_command.dart
  sidekick_core/test/bash_command_test.dart
Labels: sidekick_core, commands

#180 Refactor updateVersionConstraint using YamlEditor
  sidekick_core/lib/src/version_checker.dart
  sidekick_core/test/version_checker_test.dart
Labels: sidekick_core

#182 Simplify flutter package detection
  sidekick_core/lib/src/dart_package.dart
  sidekick_core/test/dart_package.dart
Labels: sidekick_core

#177 Enable update check for everyone
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/version_checker.dart
  sidekick_core/test/sidekick_command_runner_test.dart
  sk_sidekick/pubspec.lock
  sk_sidekick/pubspec.yaml
Labels: update

#183 Exclude via glob, starting search at repo root
  sidekick_core/lib/src/commands/deps_command.dart
  sidekick_core/test/deps_command_test.dart
  sidekick_test/lib/src/local_testing.dart
Labels: bug, sidekick_core, prebuild-commands

#184 DepsCommand should ignore sidekick cli package
  sidekick_core/lib/src/commands/deps_command.dart
  sidekick_core/test/deps_command_test.dart
Labels: sidekick_core, prebuild-commands

#178 Add SidekickContext
  .github/workflows/unit_tests.yaml
  sidekick/lib/src/commands/init_command.dart
  sidekick_core/analysis_options.yaml
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/commands/analyze_command.dart
  sidekick_core/lib/src/commands/deps_command.dart
  sidekick_core/lib/src/commands/install_global_command.dart
  sidekick_core/lib/src/commands/plugins/install_plugin_command.dart
  sidekick_core/lib/src/commands/recompile_command.dart
  sidekick_core/lib/src/commands/update_command.dart
  sidekick_core/lib/src/dart.dart
  sidekick_core/lib/src/dart_package.dart
  sidekick_core/lib/src/dart_runtime.dart
  sidekick_core/lib/src/directory_ext.dart
  sidekick_core/lib/src/flutterw.dart
  sidekick_core/lib/src/repository.dart
  sidekick_core/lib/src/sidekick_context.dart
  sidekick_core/lib/src/sidekick_package.dart
  sidekick_core/lib/src/template/entrypoint.template.dart
  sidekick_core/lib/src/update/migration.dart
  sidekick_core/lib/src/update/patches/157_fix_usage_message.patch.dart
  sidekick_core/lib/src/update_sidekick_cli.dart
  sidekick_core/test/init_test.dart
  sidekick_core/test/migration_test.dart
  sidekick_core/test/sidekick_command_runner_test.dart
  sidekick_core/test/update/patches/157_fix_usage_message.patch_test.dart
  sidekick_core/test/update_command_test.dart
  sidekick_test/lib/src/local_testing.dart
  sk_sidekick/lib/sk_sidekick.dart
  sk_sidekick/lib/src/commands/lock_dependencies_command.dart
  sk_sidekick/lib/src/commands/release_command.dart
  sk_sidekick/lib/src/commands/test_sidekick_context_command.dart
  sk_sidekick/lib/src/commands/verify_publish_state_command.dart
  sk_sidekick/pubspec.lock
  sk_sidekick/pubspec.yaml
  sk_sidekick/test/sidekick_context_test.dart
  sk_sidekick/tool/install.sh
Labels: sidekick_core, breaking-change

#203 Show plugin version during install
  sidekick_core/lib/src/commands/plugins/install_plugin_command.dart
Labels: sidekick_plugin_installer

#208 Breaking: API cleanup
  README.md
  sidekick_core/README.md
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/cli_util.dart
  sidekick_core/lib/src/commands/bash_command.dart
  sidekick_core/lib/src/commands/flutter_command.dart
  sidekick_core/lib/src/commands/plugins/create_templates/plugin_template_generator.dart
  sidekick_core/lib/src/commands/plugins/install_plugin_command.dart
  sidekick_core/lib/src/dart.dart
  sidekick_core/lib/src/dart_package.dart
  sidekick_core/lib/src/dart_runtime.dart
  sidekick_core/lib/src/flutter.dart
  sidekick_core/lib/src/flutterw.dart
  sidekick_core/lib/src/git.dart
  sidekick_core/lib/src/sidekick_context.dart
  sidekick_core/lib/src/template/sidekick_package.template.dart
  sidekick_core/pubspec.yaml
  sidekick_core/test/bash_command_test.dart
  sidekick_core/test/dart_command_test.dart
  sidekick_core/test/dart_test.dart
  sidekick_core/test/deps_command_test.dart
  sidekick_core/test/flutter_command_test.dart
  sidekick_core/test/flutter_test.dart
  sidekick_core/test/init_test.dart
  sidekick_core/test/sidekick_command_runner_test.dart
  sidekick_core/test/sidekick_package_template_test.dart
  sidekick_core/test/update_command_test.dart
  sk_sidekick/lib/sk_sidekick.dart
Labels: sidekick_core, breaking-change

#209 Remove name from initializeSidekick() with migration
  sidekick_core/lib/src/update/migration.dart
  sidekick_core/lib/src/update/patches/208_remove_cli_name.patch.dart
  sidekick_core/lib/src/update/patches/patch_migrations.dart
  sidekick_core/test/migration_test.dart
  sidekick_core/test/update/patches/208_remove_cli_name.patch_test.dart
Labels: update

#210 Fix misleading update message
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/version_checker.dart
  sidekick_core/test/sidekick_command_runner_test.dart
  sidekick_test/lib/src/local_testing.dart
Labels: bug

#211 Fail for info lints
  .github/workflows/lint.yaml
  sidekick_core/test/analyzer_command_test.dart
  sidekick_core/test/update/patches/208_remove_cli_name.patch_test.dart
Labels: prebuild-commands

#213 Support latest sidekick_plugin_installer version
  sidekick_core/lib/src/commands/plugins/install_plugin_command.dart
Labels: sidekick_core

#212 [vault] Update sidekick_core to 1.0.0
  sidekick_vault/example/example.dart
  sidekick_vault/lib/src/commands/vault_command.dart
  sidekick_vault/pubspec.yaml
  sidekick_vault/test/vault_command_test.dart
  sidekick_vault/tool/install.dart
Labels: sidekick_vault

#192 Add Format Command
  README.md
  sidekick_core/lib/sidekick_core.dart
  sidekick_core/lib/src/commands/format_command.dart
  sidekick_core/lib/src/template/sidekick_package.template.dart
  sidekick_core/test/format_command_test.dart
  sk_sidekick/lib/sk_sidekick.dart
Labels: prebuild-commands
